.main__calender-div {
  /* border: 1px solid red; */
  /* width: 90%; */
  /* margin: auto; */
}

.calender__streak {
  margin-left: 33%;

  margin-bottom: 40px;
  justify-content: center;

  border: 3px solid rgb(212, 99, 118);
  border-radius: 9px;
}

.calender__div {
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(212, 99, 118);
  width: fit-content;
  margin: auto;
  color: white;
  font-weight: 500;
  margin-bottom: 40px;
}

.stat_lang {
  width: fit-content;
  /* border: 3px solid green; */
  margin: auto;
  height: fit-content;
}

.calender__stats {
  /* margin-left: 21%; */
  /* margin-right: 5%; */
  border: 3px solid rgb(212, 99, 118);
  border-radius: 9px;
}

.calender__language {
  height: 200px;
  border: 3px solid rgb(212, 99, 118);
  border-radius: 9px;
}

/* ======================BREAK-POINTS====================== */

/* Large Screen  */
@media screen and (max-width: 992px) {
  .main__calender-div {
    width: 90%;
    margin: auto;
    justify-content: center;
    /* padding: 4rem; */
    /* margin-top: -4rem; */
  }

  .calender__streak {
    /* margin-left: 19%; */
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
    border: 3px solid rgb(212, 99, 118);
    border-radius: 9px;
  }

  .calender__div {
    padding: 1rem;
  }

  .calender__stats {
    /* margin-left: 19%; */
    /* margin: auto;
    justify-content: center;
    margin-bottom: 40px; */
  }

  .calender__language {
    /* margin-left: 32%; */
    /* margin: auto; */
    /* justify-content: center; */
    /* margin-top: -30%; */
  }
}

/* Medium Screen  */
@media screen and (max-width: 768px) {
  .main__calender-div {
    margin: auto;
    justify-content: center;
    /* margin-top: -5rem;
    margin-bottom: -5rem; */
  }

  .calender__streak {
    width: 400px;
    /* margin-left: 17%; */
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
    border: 3px solid rgb(212, 99, 118);
    border-radius: 9px;
  }

  .calender__div {
    padding: 1rem;
  }

  .calender__stats {
    width: 400px;
    /* margin-left: 17%; */
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
  }

  .calender__language {
    /* border: 1px solid green; */
    margin: auto;
    justify-content: center;
    /* margin-top: 20%; */
    height: 180px;
  }
}

/* Small Screen */
@media screen and (max-width: 350px) {
  .main__calender-div {
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: -4rem;
    /* padding: 2rem; */
  }

  .calender__div {
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.5rem;
    /* width: 250px; */
    margin: auto;
    justify-content: center;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .calender__streak {
    width: 310px;
    /* margin-left: 1%; */
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
  }

  .calender__stats {
    width: 310px;
    /* margin-left: 1%; */
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
  }

  .calender__language {
    /* margin-left: 18%; */
    margin: auto;
    justify-content: center;
    height: 130px;
  }
}
